/* Basic Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://raw.githubusercontent.com/Reysajju/Condolence/main/islamic-wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.text-container {
    position: relative; /* Changed from absolute to relative */
    top: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.text-container h2,
.text-container h3 {
    margin: 0;
    font-size: 24px; /* Adjusted font size */
    color: white;
    display: inline-block; /* Allows the text to expand without overlapping */
}

.container {
    width: 30%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    z-index: 0;
}

.content {
    width: 100%;
    max-width: 400px; /* Fit content better */
    text-align: center;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.7); /* Background color for the content */
    border-radius: 10px; /* Rounded corners for content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter-container {
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#counter {
    font-size: 48px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .text-container h2,
    .text-container h3 {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .counter-container h2 {
        font-size: 1.2rem;
    }

    #counter {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .container {
        padding: 10px;
    }

    .content {
        gap: 10px;
    }
}
